@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200, 300, 400, 600');
@import url('https://fonts.googleapis.com/css?family=Lato:100, 300');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Tinos:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400, 700');
@import url('https://fonts.googleapis.com/css?family=Rosarivo:400italic&subset=latin-ext');

@viewport {
    zoom: 0.3;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 0.3;
    width: extend-to-zoom;
}

body {
    /*font-family: "Oswald", "Source Sans Pro", sans-serif !important;*/
    font-family: "Quicksand" !important;
    font-weight: 300 !important;
}

.lato {

    font-family: "Lato" !important;
    font-wight: 300 !important;

}

/* Mobile first! */
#background {
    background: rgba( 0, 0, 0, 0 ) 
                url(/static/images/vildebackgroundlogo.jpg) no-repeat 50% 0 / cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#main {
    position: absolute;
    top: 90%;
    /*left: 10%;*/
    width: 100%;
    background-color: #EDECEA;
    z-index: 1;
    text-align: center;
    overflow-x: visible;
    border-radius: 2px;
}

/* Preventing the embedded youtube player from getting wider than the #main div */
#main iframe {
    width: 100%;
    box-shadow: 1px 1px 5px #919292;
}

.heading {
    display: inline-block;
    width: 17%;
    font-size: 14pt;
    color: #D0D7DA;
    transition: all .5s ease;
    height: 100%;
}

/* For devices bigger than an iPhone 4s, might need to up this minimum a bit, check samsung device widths */
@media (min-width: 641px) {
    #background {
        background: rgba( 0, 0, 0, 0 ) 
                    url(/static/images/vildebackgroundlogo_medium.jpg) no-repeat 50% 0 / cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    #main {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        /*background-color: #EDECEA*/;
        background-color: #f3f3f1;
        z-index: 1;
        text-align: center;
        overflow-x: hidden;
        border-radius: 2px;
    }

    .heading {
        margin: 0% 0% 0% 0% !important;
        display: inline-block;
        /*width: 20%;*/
        font-family: "Cabin Sketch" !important;
        font-size: 15pt;
        margin-bottom: 1%;
        color: #F44843;
        transition: all .5s ease;
        font-family: "Raleway";
    }
    /*Resetting the width of the embedded youtube player, as per the width specified in the original iframe*/
    #main iframe {
        width: 560px;
    }
    
    #album-container {
        display: inline-block;
        opacity: 0.7;
        margin-right: 1%;
        cursor: pointer;
    }
    
    #album-container:hover {
       transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        opacity: 1;
    }
    
    .soundcloud-div {
        height: 332px;
        display: inline-block;
    }
    
    .soundcloud-div iframe {
        display: block;
    }
}

#header {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /*height: 9%;*/
    /*min-height: 52px;
    max-height: 60px;*/
    text-align: center;
    background-color: rgba(38, 38, 38, 0.9);

}

#heading-container {

    /*border-top: 0.5px solid #eaeaea;*/
    border-top: 0.5px solid #000000;
    /*border-right: 0.5px solid #eaeaea;*/
    border-right: 0.5px solid #000000;
    height: 100%;
    padding-top: 1%;

}

#social-media-container {

    /*border-top: 0.5px solid #eaeaea;*/
    border-top: 0.5px solid #000000;
    height: 100%;
    padding: 1% 0% 1% 0%;
}

#social-media-container a {

    margin-right: 13px;

}

.heading-link {
    display: inline-block;
    width: 15%;
    color: #D0D7DA;
    font-weight: bold;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.heading:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.heading-link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#main a {
    text-decoration: none;
    color: #000000;
}

.section {
    width: 100%;
    height: 100%;
    line-height: 1.3;
    text-align: left;
    /*padding: 0% 1% 1% 1%;*/
}

.black-box {

	background-color: rgba(38, 38, 38, 0.9);	
	border: 1px solid #333333;
}

.box-header {

	font-size: 18pt;
	border-bottom: 1px solid #333333;

}

#news {

    background-color: #f3f3f1;
    background-image: url(/static/images/treerightbranch.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    /*height: 1000px;*/
    padding: 15% 10% 0% 15%;

}

.news-item {

    /*background-color: #262626;*/
    background-color: rgba(38, 38, 38, 0.9);
    color: #f44843;
    padding: 2% 2% 2% 2%;
    /*border-radius: 2px;*/
    float: left;
    height: 380px;
    /*width: 60%;*/
    width: 100%;
    overflow-y: auto;
    border: 1px solid #333333;
    /*width: 50%;
    margin-left: 25%;
    margin-right: 25%;*/
/*webkit-box-shadow: 3px 3px 5px 0px rgba(156,156,156,1);
-moz-box-shadow: 3px 3px 5px 0px rgba(156,156,156,1);
box-shadow: 3px 3px 5px 0px rgba(156,156,156,1);*/


}

.news-item p {

    /*font-size: 30pt;*/

}

#news #next-gig {
	
    margin-top: 0.5%;
    background-color: rgba(38, 38, 38, 0.9);
    border: 1px solid #333333;

}

#shows, #contact, #music-and-media {

    padding-left: 5%;
    padding-right: 5%;

}

#shows .list-group-item, #contact .list-group-item {

    background-color: #262626 !important;
    color: #F44843;

}

#about {
    /*clear: right;*/
    /*padding: 12% 20% 0% 20%;*/
    background-color: #0d0d0d;
    /*background-image: url(/static/images/rootsthin_medium.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    /*height: 870px;*/
}

.member {

    color: #ffffff;
    background-color: #1a1a1a;
    padding: 2% 2% 2% 2%;
    /*border-radius: 3px;*/
    border-width: 1px;
    border-color: #333333;
    border-style: none solid solid;
    margin-bottom: 0%;

}

#music-and-media {

    background-color: #262626;

}

#music-and-media iframe {

    display: block;
    margin-bottom: 5%;

}

.section img {
    /*float: right;
    width: 100%;
    height: 100%;
    /*margin-right: 1%;
    opacity: 1;
    /*border: 2px ridge #123848;
    box-shadow: 1px 1px 5px #464849;*/
}

.thumbnail {
    width: 256px !important;
    height: 100%;
    box-shadow: 1px 1px 5px #464849;
}

.medium-thumbnail {
    width: 540px !important;
    height: 360px !important;
    box-shadow: 1px 1px 5px #464849;
}

.large-thumbnail {
    width: 640px !important;
    height: 480px !important;
    box-shadow: 1px 1px 5px #464849;
    float: right;
    top: 0;
}

#album-thumbnail {
    width: 256px;
    height: 171px;
    border: none;
    box-shadow: 1px 1px 5px #464849;
}

.section-heading {
    /*width: 60%;*/
    color: #F44843;
    /*color: #E0413D;*/
    /*color: #E23B37;*/
    font-family: "Cabin Sketch";
    font-size: 28pt;
    font-weight: medium;
    /*font-family: "Raleway";*/
    /*border-top: 1px solid #F44843;*/
    /*border-top: 2px solid #E0413D;*/
    /*border-top: 2px solid #E23B37;*/
    padding-top: 1%;
}

.orange-brown {

    color: #FA9663;

}

.red {

    color: #f44843;

}

/*.gig-parent:hover .gig {

    opacity: 0.7;

}

.gig-parent:hover .gig:hover {

    opacity: 1.0;

}*/

#next-gig {
    
    font-size: 50pt;

}

.upcoming-gig {
    font-size: 18pt
}

.gig-button {

    background-color: #262626 !important;
    color: #F44843 !important;
    font-size: 20pt;

}

.small-heading {
    font-size: 16pt;
    font-weight: 300;
}

.small-small-heading {
    font-size: 14pt;
    font-weight: 300;
}

#dropdown-menu-button, #large-dropdown-menu-button {
	font-family: "Cabin Sketch"; 	
	color: #f44843;
    cursor: pointer;
    width: 25%;
}

#large-dropdown-menu-button {

	font-size: 20pt;

}

#dropdown-menu-button:hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.dropdown-menu-item {

    display: block;

}

.large-text {
    font-size: 14pt;
}

#footer {
    width: 100%;
    height 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: #123848;
    font-size: 7pt;
}

#footer p {
    height: 100%;
    margin-bottom: 0;
    color: #D0D7DA;
}

#not-visible, #visible {
    display: none;
}

#to-top {
    position: fixed;
    z-index: 2;
    bottom: 2%;
    right: 1%;
    color: #F1F1F1;
    background-color: #123848;
    padding: 0% 1% 0% 1%;
    opacity: 0.0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    /* to prevent cursor being displayed as text marker when element is hidden: */
    cursor: default;
}

#visible:checked + #to-top {
    opacity: 0.7;
}

#visible:checked + #to-top:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}

#description {

    /*float: left;*/
    /*width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;*/
    color: #ffffff;
    background-color: #1a1a1a;
    padding: 2% 2% 2% 2%;
    /*border-radius: 3px;*/
    border: 1px solid #333333;
    /*margin-bottom: 2%;*/

}

.drop-cap-container {

    float: left;
    padding: 0px 5px 0px 5px;
    margin-right: 2px;
    background-color: f3f3f1 !important;

}

.drop-cap {

    /*font-family: "Tinos";*/
    font-family: "Cabin Sketch";
    font-size: 60pt;
    color: #f44843;
    display: inline;
    float: left;
    top: 0%;
    line-height: 65px;

}

blockquote::before {

    content: "\201c";
    font-family: "Tinos";
    font-size: 3.5em;
    position: absolute;
    float: left;
    color: #f44843;
    line-height: 50px;
    left: 10px;


}

blockquote {

    /*border-left: 5px solid #f44843 !important;*/
    border-left: none !important;
    color: #ffffff;
    font-family: "Rosarivo";
    font-size: 72pt;
    margin-top: 10% !important;

}

blockquote p {

    margin-left: 10px;

}

.border-blockquote {

    border: none !important;

}

.review-info {

    /*color: #1a9797;*/
    color: #f44843;
    float: right;

}

#border-orange {

    background-color: #FA9663;

}

#border-black {

    padding-top: 2%;
    background-color: #262626;
    color: #f44843;

}
