<!--<div class="row">
	<div id="about" class="section">
		<div class="row">
			<div class="col-md-12"><h1 class="section-heading">Om Vilde</h1></div>
		</div>

		<div class="row">
			<div class="col-md-12"><?php $this->printDescription(); ?></div>
		</div>

		<div class="row">
			<div class="col-md-12"><?php $this->listMembers(); ?></div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<blockquote>
					<p>Vilde släpper in världen i sin svenska folkmusik. De påminner om de där gatumusikanterna som man snubblade över någonstans i Europa. Gatumusikanterna som man aldrig glömde.</p>
					<footer class="review-info">UNT 2011-08-10</footer>
				</blockquote>
			</div>
		</div>

		<div class="col-md-6"><?php $this->printReviews(); ?></div>


		<div class="row">
			<div class="col-md-12"><h2 class="text-center red">Vilde är:</h2></div>
		</div>
		<?php $this->listMembers(); ?>
	</div>
</div>-->

<div class="row">
	<div id="about" class="section">
		<div class="row">
			<div class="col-md-12"><h1 class="section-heading">Om Vilde</h1></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div id="description">
					<div class="drop-cap-container"><p class="drop-cap">V</p></div>
					<p class="large-text">{{ description }}</p>
				</div>
			</div>

		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					{% for member in members %}
						<div class="col-md-4">
							<p class="large-text member">{{ member.Firstname }} {{ member.Lastname }} - <span class="red">{{ member.Instrument }}</span></p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<blockquote>
					<p>{{ quote.Review }}</p>
					<footer class="review-info">{{ quote.Info }}</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
