<!DOCTYPE html>
<html>
	<head>
		<title>Vilde</title>

		<link rel="stylesheet" href="static/css/alternatemainpage.css">
		<link rel="stylesheet" href="static/css/newsAndGigs.css">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	</head>
	<body>
	
	<div id="background"></div>
		
	<div class="container-fluid">
		<nav>
			<div id="header" class="row">
				<div id="heading-container" class="col-md-10">
					<h3 class="heading">NYHETER</h3>
					<h3 class="heading">OM VILDE</h3>
					<h3 class="heading">KONSERTER</h3>
					<h3 class="heading">MUSIK OCH MEDIA</h3>
					<h3 class="heading">KONTAKT</h3>
				</div>
				<div id="social-media-container" class="col-md-2">
					<a id="soundcloud" href="https://soundcloud.com/vildeland"><img src="static/images/sociala_medier/soundcloudlogga_36.png"></a>
					<a id="facebook" href="http://www.facebook.com/spoketikoket"><img src="static/images/sociala_medier/facebooklogga_29.png"></a>
					<a id="youtube" href="https://www.youtube.com/channel/UCBnvUMnm1tU1O2ioTnUNJNw"><img src="static/images/sociala_medier/youtubelogga_35.png"></a>
				</div>
			</div>
		</nav>
	</div>

	<div id="main" class="container-fluid">

		{% include 'newsAndGigs.html'%}
	
		{% include 'newabout.html' %}

		{# include 'gigs.html' #}

		{% include 'musicandmedia.html' %}
		
		{% include 'contact.html' %}

		<div id="border-black" class="row">
			<div class="col-md-12">
				<p>Mer musik åt folket! Mer folk åt musiken!</p>
			</div>
		</div>

	</div>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type="text/javascript" src="js/main.js"></script>

	</body>
</html>
