<!--<div class="row">
	<div id="contact" class="section">
		<div class="row">
			<div class="col-md-12"><h1 class="section-heading">Kontakt</h1></div>
		</div>
		<?php $this->printContactInformation(); ?>
		
	</div>
</div>-->

<div class="row">
	<div id="contact" class="section">
		<div class="row">
			<div class="col-md-12"><h1 class="section-heading">Kontakt</h1></div>
		</div>
		
		<ul class="list-group">
			<li class="list-group-item">Email: {{ contactInformation.Email }}</li>
			<li class="list-group-item">Telefon: {{ contactInformation.Contactperson }} {{ contactInformation.Telephonenumber }}</li>
		</ul>

	</div>
</div>
