<!--<div class="row">
	<div id="news" class="section">
		
		<div class="row">
			<div class="col-md-12"><h1 class="section-heading">Nyheter</h1></div>
		</div>

		<div class="row">
			
			<div class="news-item">
				<p class="large-text">Nu jävlar händer det! <span class="orange-brown">Vilde</span> spelar både här och där och det tycker vi att ni ska få veta! Mer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMer textMe</p>
			</div>
			
				<div class="news-item">
					<p>Fler <span class="orange-brown">saker</span>!</p>
				</div>
			
		</div>

	</div>
</div>-->

<div class="row">
	<div id="news" class="section">
		
		<div class="row">
			<div class="col-md-12"><h1 class="section-heading">Nyheter</h1></div>
		</div>

		<div class="row">
			
			<div class="news-item">
				<p class="large-text">{{ news }}</p>
			</div>
			
		</div>

	</div>
</div>
